{% extends "base.html" %}
{% block content %}

<div class="container"><h5 class="five">Want to send us a message?</h5>

<form id="form" class="contact-form" method="post" action="/contact">
    <input id="name" name="name" type="text" placeholder="NAME" required="required">
    <input id="email" name="email" type="text" placeholder="EMAIL" required="required">
    <textarea id="message" name="message" type="text" placeholder="MESSAGE"></textarea>
<input id="submit" type="submit" value="SEND!">
</form>
<div>
{% endblock %}
